.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**Custom CSS Style for feat/homepage-ui branch **/
table {
  background-color: black;
}

tr {
  background-color:  rgb(247, 239, 239);
  box-align: center;
}

/**Custom CSS Style for feat/login-page branch **/
.navDiv Link {
  margin-right: 20px;
  display: inline-block;
}

.error-message {
  color: red
}

/**Custom CSS Style for navBar feat/authentication-route-api branch **/
* {
  box-sizing: border-box;
} 

body {
  margin: 0;
}
.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 60px;

}
.site-title {
  font-size: 2rem;
}

.nav ul {
  padding-top: 10px;
  margin: 0;
  list-style: none;
  overflow: hidden;
}

.nav li {
  float: left;
  margin-right: 10px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: block;
  align-items: center;
  padding: .25rem;
}

.nav li:hover {
  background-color: #777;
}

/**Custom CSS Style for buttons feat/style-buttons branch **/
.options {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.input-control {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;

}

.input-control-email {
  margin-bottom: 10px;
}
.input-control-email > label {  
  margin-right: 46px;
}

.input-control-password {
  margin-bottom: 10px;
}
.input-control-password > label {
  margin-right: 20px;
}


.input-control-names-signup {
  margin-bottom: 10px;
}

.input-control-names-signup > label {  
  margin-right: 21px;
}

.input-control-email-signup {
  margin-bottom: 10px;
}
.input-control-email-signup > label {  
  margin-right: 58px;
}

.input-control-password-signup {
  margin-bottom: 10px;
}
.input-control-password-signup > label {
  margin-right: 30px;
}

.input-control-phone-signup {
  margin-bottom: 10px;
}
.input-control-phone-signup > label {
  margin-right: 50px;
}

.button {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.display-container {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;

}

.display-table {
  margin-bottom: 20px;
}
