<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>JJ's Store</title>
    {% block head %} {% endblock %}
</head>
<body>
    <h1>Welcome to Christian Music Store!</h1>
    <p><i>Where you'll find your favorite Christian CDs and DVDs</i></p>
    <hr />
    {% block body %} {% endblock %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>