.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

/*Message error red*/
.input-control .error {
  color:#ff3860;
}

